@{
    ViewData["Title"] = "Home Page";
}


<!-- home page control panel -->
<div class="text-center">
    <h1 class="display-4"><b>Tank Museum Control Panel</b></h1>
    <button class="nav-button" id="1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">To Employees</a>
    </button>
    <button class="nav-button" id="2">
        <a class="nav-link text-dark" asp-area="" asp-controller="Tanks" asp-action="Index">To Tanks</a>
    </button>
</div>
